.navbar-toggler-icon{
	background-image:(url:download.png)
}
body{
	background-color: ;
	font-family: roboto;
}
.container-fluid{
	padding:3% 15%;
}
.nav-link{
	color: white;
	font-size: 1.2rem;
	font-family: montserrat;
}
.navbar-brand{
	font-family: ubuntu;
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
}
.navbar{
	padding:0 0 4.5rem;
}
.nav-item{
	padding: 0 18px;
}
/*download buttons*/
.download-button{
	margin: 5% 3% 5% 0;

}
h1{
	color: white;
	font-size: 3.0rem;
	line-height: 1.5;
	font-family: Roboto;
}
h2{
	font-family: roboto;
	font-size: 2rem;
	line-height: 1.5;
}
h3{
	font-family: monospace bold;
}
p{
	color: gray;
}
/*title-image*/
/*image rotation*/
.title-image{
	width: 60%;
	transform: rotate(25deg);
}
#title{
	background-color: #f53b57;
}
/*feature sections*/
#features{
	padding: 7% 15%;
}
.feature-box{
	text-align: center;
	padding: 5%;
}
.icon{
	color: red;
	margin-bottom: 1rem;
}
.icon:hover{
	color: #f53b57;
}
/*testimonial*/
#testimonials{
	padding: 7% 15%;
	text-align: center;
	background-color: #f53b57;
	color: white;

}

.testimonial_image{
	width: 20%;
	border-radius: 100%;
	margin: 20px;

}
#press{
	background-color: #f53b57;
	text-align: center;
	padding-bottom: 3%;
}
.press_logo{
	width: 12%;
	margin: 20px 20px 50px;
}.navbar-toggler-icon{
	background-image:(url:download.png)
}
body{
	background-color: ;
	font-family: roboto;
}
.container-fluid{
	padding:3% 15%;
}
.nav-link{
	color: white;
	font-size: 1.2rem;
	font-family: montserrat;
}
.navbar-brand{
	font-family: ubuntu;
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
}
.navbar{
	padding:0 0 4.5rem;
}
.nav-item{
	padding: 0 18px;
}
/*download buttons*/
.download-button{
	margin: 5% 3% 5% 0;

}
h1{
	color: white;
	font-size: 3.0rem;
	line-height: 1.5;
	font-family: Roboto;
}
h2{
	font-family: roboto;
	font-size: 2rem;
	line-height: 1.5;
}
h3{
	font-family: monospace bold;
}
p{
	color: gray;
}
/*title-image*/
/*image rotation*/
.title-image{
	width: 60%;
	transform: rotate(25deg);
}
#title{
	background-color: #f53b57;
}
/*feature sections*/
#features{
	padding: 7% 15%;
}
.feature-box{
	text-align: center;
	padding: 5%;
}
.icon{
	color: red;
	margin-bottom: 1rem;
}
.icon:hover{
	color: #f53b57;
}
/*testimonial*/
#testimonials{
	padding: 7% 15%;
	text-align: center;
	background-color: #f53b57;
	color: white;

}

.testimonial_image{
	width: 20%;
	border-radius: 100%;
	margin: 20px;

}
#press{
	background-color: #f53b57;
	text-align: center;
	padding-bottom: 3%;
}
.press_logo{
	width: 12%;
	margin: 20px 20px 50px;
}
